<h1>Edit Project</h1>
<h2><%= @project.name %>
<% form for @project do |f| %>
  <%= f.label :name, "Project Name:" %>
  <%= f.text_field :name %>
  <%= f.select :temperature, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %>
  <%= f.submit %>
<% end %>
