<h1>Edit Project</h1>
<h2><%= @project.name %></h2>

<%= form_for [@employee, @project] do |f| %>
  <%= f.label :name, "Add Employee to Project:" %>
  <%= f.select :name, Employee.arr_emp %>
  <%= f.submit %>
<% end %>


