<h1><%= @project.name %></h1>

<% if @project.employees.any? %>
  <h4>Here are the employees for this project:</h4>

  <% @project.employees.each do |employee| %>
    <ul>
      <li>
        <%= link_to employee.name, division_employee_path(Division.find(employee.division_id), employee) %> 
        <%= link_to "Edit association", employee_project_path(EmployeeProject.check(employee.id, @project.id).first) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No employees are listed for this project.</p>
<% end %>

<p><%= link_to "Edit", edit_project_path(@project) %></p>
<p><%= link_to "Delete project", project_path(@project),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

                        <p><%= link_to "Return to projects", projects_path %></p>